<div class="card" style="width: 18rem;">
    <!--Title of page-->
    <h4 class="card-title text-center"><strong>Time for Fishing?</strong></h4>
    <!--Image for page-->
    <img class="card-img-top"
        src="https://secure.i.telegraph.co.uk/multimedia/archive/01361/fly-fishing-Scandi_1361259c.jpg"
        alt="Card image cap">
      <!--add text-->
        <div class="card-body">
        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
    </div>
</div>